<div class="panel panel-default filter">
  <button aria-hidden="true" class="close" type="button">×</button>
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-move"></span> {{ filterName }}</h3>
  </div>
  <div class="panel-body">
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        Loading ...
      </div>
    </div>
  </div>
</div>