<div class="well well-sm testing">
  <button class="btn btn-default btn-xs" data-src="/demos/demo1.jpg">Image 1</button>
  <button class="btn btn-default btn-xs" data-src="">Image 2</button>
  <button class="btn btn-default btn-xs" data-src="">Image 3</button>
  <button class="btn btn-default btn-xs" data-src="">Image 4</button>
  <a class="btn btn-danger btn-xs" href="/tests.html" target="_blank">Go to Tests</a>
  &nbsp;<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
</div>